# Server config
PORT=3000
HOST=0.0.0.0

# Database Config
DB_USER=postgres
DB_PASSWORD=secret
DB_HOST=localhost
DB_PORT=5432
DB_NAME=tezpul

# Telegram Bots
USER_BOT_TOKEN=YOUR_USER_BOT_TOKEN_HERE
ADMIN_BOT_TOKEN=YOUR_ADMIN_BOT_TOKEN_HERE

# App Environment
NODE_ENV=development
